* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  background: #fff;
  color: #212529;
  /* border-top: 1px solid #cc0000; */
}

/* HEADING CSS */

.heading-primary,
.heading-secondary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #eee;
}

.heading-primary {
  font-size: 4.8rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-size: 3.2rem;
  margin-bottom: 1.8rem;
}

/* BUTTON CSS */

.btn:link,
.btn:visited {
  display: inline-block;
  color: #ddd;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 600;
  transition: all 300ms;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e60000;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #ddd;
  color: #e60000;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cc0000;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #ddd;
  color: #cc0000;
  box-shadow: inset 0 0 0 1px #cc0000;
}

.margin-right-sm {
  margin-right: 1rem !important;
}

/* FONT AWESOME */

.fa-icon {
  font-size: 2.8rem;
  color: #eee;
}

.fa-icon:hover {
  color: #aaa;
}
