/* CAROUSEL SECTION */

.corousel-section {
  margin-top: 9.6rem;
  background-color: #292929;
  /* background-image: linear-gradient(rgb(34, 34, 34, 0.6), rgb(34, 34, 34, 0.9)); */
  margin-bottom: 9.6rem;
}

.carousel-item {
  text-align: center;
  padding: 6.4rem;
}

.carousel-title {
  margin-bottom: 1.2rem;
}

.carousel-title-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.special-keyword-largest {
  font-size: 2rem;
  color: #e60000;
  letter-spacing: 2px;
}

.carousel-description {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 4rem;
}

.special-keyword {
  font-size: 1.6rem;
  font-weight: 600;
  color: #d0131c;
  text-transform: uppercase;
}

.carousel-btn:link {
  background-color: #ddd;
  display: inline-block;
  margin: 0 auto !important;
  color: #212121;
}

.carousel-btn:link:hover {
  box-shadow: inset 0 0 8px 4px #d0131c;
  background-color: #212121;
  color: #fff;
}

.carousel-content {
  padding: 0 1.6rem 0 1.6rem;
}

/* SERVICES SECTION */

.section-services {
  margin-bottom: 9.6rem;
}

.services-heading-box {
  margin-bottom: 9.6rem;
}

.services-heading {
  padding-top: 3.2rem;
  font-size: 4rem;
  text-align: center;
}

.service-heading-keyword {
  font-size: 4rem;
  text-transform: uppercase;
  color: #e60000;
  letter-spacing: -0.5px;
}

.service-box {
  border: 8px solid #212121;
  width: 230px;
  height: 250px;
  background-color: #eee;
}

.service-img-box {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-img {
  display: block;
  width: 120px;
  margin: 0 auto;
  /* filter: invert(88%) sepia(32%) saturate(2087%) hue-rotate(329deg)
    brightness(101%) contrast(101%); */

  filter: invert(10%) sepia(91%) saturate(5634%) hue-rotate(360deg)
    brightness(101%) contrast(124%);
}

.service-text-box {
  display: flex;
  height: 31%;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

.service-text {
  color: #eee;
  font-size: 1.6rem;
  font-weight: 600;
}

/* WHY US SECTION */

.why-us {
  margin-top: 5rem;
  margin-bottom: 9.6rem;
}

.why-us-heading {
  padding-top: 3.2rem;
  font-size: 4rem;
  color: #212529;
  text-align: center;
  margin-bottom: 3.2rem;
}

.line-margin {
  margin-bottom: 6.4rem !important;
}

.choose-us {
  font-size: 4.5rem;
  text-transform: uppercase;
  color: #e60000;
  letter-spacing: -0.5px;
}

.why-us-item {
  margin-bottom: 9.6rem;
}

.why-us-items-text {
  font-size: 3.4rem;
  font-weight: 500;
  text-align: center;
}

.why-us-items-img {
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 13px 13px 13px 13px;
}

.why-us-items-img {
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  border: 3px solid #d0131c;
  box-shadow: 10px 10px 16px -6px #212121;
}

/* DOWNLOAD APP SECTION */

.donwload-heading {
  padding-top: 8.4rem;
  font-size: 4.5rem;
  text-align: center;
  color: #000;
  margin-bottom: 3.2rem;
}

.download-app-text-box {
  display: flex;
  flex-direction: column;
}

.download-app-text-heading {
  font-size: 4.2rem;
  line-height: 1.4;
  text-align: center;
  margin: 6.4rem 0;
}

.download-app-text {
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
  text-align: center;
}

.fa-icon-download-section {
  font-size: 1.7rem !important;
  color: #212121 !important;
  margin-right: 1rem;
}

.download-app-img-box {
  margin-bottom: 3.2rem;
}

.download-app-img {
  display: block;
  width: 30rem;
  margin: 0 auto;
}

/* CONTACT US SECTION */

.contact-us {
  margin-top: 6.4rem;
  margin-bottom: 9.6rem;
}

.contact-us-heading {
  text-transform: uppercase;
  font-size: 4.2rem;
  font-weight: 600;
  color: #212121;
  letter-spacing: -0.7px;
  text-align: center;
}

.contact-us-intro {
  font-size: 1.8rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  line-height: 1.2;
  color: #212121;
  margin-bottom: 4.8rem;
}

.contact-us-img {
  width: 110%;
  display: block;
  margin: 0 auto;
}

.contact-us-card {
  /* background-color: #212121; */
  background-color: #e60000;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.contact-us-card-heading {
  font-size: 1.8rem;
  font-weight: 600;
  /* color: #aaa; */
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  margin-bottom: 2.4rem;
}

.contact-us-card-content {
  /* color: #eee; */
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2.4rem;
  line-height: 1.5;
}

.contact-us-social-handles {
  display: flex;
  gap: 0.5rem;
}

.contact-us-icon-img {
  height: 7rem;
  margin-bottom: 2.4rem;
  /* filter: invert(68%) sepia(2%) saturate(45%) hue-rotate(314deg)
    brightness(101%) contrast(86%); */
  filter: invert(99%) sepia(5%) saturate(236%) hue-rotate(128deg)
    brightness(112%) contrast(73%);
}

.fa-icon-contact:hover {
  color: #212121;
}

.contact-us-email-link:link,
.contact-us-email-link:visited {
  text-decoration: underline;
  font-weight: 500;
}

.contact-us-email-link:hover,
.contact-us-email-link:active {
  /* color: #d0131c; */
  color: #212121;
}
